.home-page {
  overflow-x: hidden;

  h2 {
    font-size: 1.75rem;
  }

  &__main-img {
    background-image: url("https://res.cloudinary.com/sdee3-com/image/upload/v1590131649/ucenjeirazvoj/hands-2847508_1920.jpg");
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    margin: 0 auto;

    .container {
      color: $white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;

      h1 {
        background-color: $indigo;
        border-radius: 4px;
        font-size: 2.5rem;
        padding: 0.25rem;
      }
    }
  }

  &__about-us {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .categories,
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    margin-top: 2.5rem;
  }

  &__services {
    background: $light-pink;
    border-bottom: 4px solid $indigo;
    border-top: 4px solid $indigo;
    padding-top: 3rem;
    padding-bottom: 10rem;
    position: relative;
    text-align: center;

    &:before {
      background: $light-pink;
      content: "";
      position: absolute;
      z-index: 10;
      top: -87px;
      left: 0;
      width: 100%;
      height: 120px;
      transform: rotateZ(-2deg);
      -o-transform: rotateZ(-2deg);
      -moz-transform: rotateZ(-2deg);
      -webkit-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);
    }

    .container {
      color: $text-default !important;
      width: unset !important;
    }

    h3 {
      border: 1px solid $indigo;
      border-radius: 4px;
      padding: 3rem;

      &:focus,
      &:hover {
        background-color: $indigo;
        color: $white;
      }
    }
  }

  &__promo {
    background-color: $indigo;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    .container {
      color: $text-white;
      height: 100%;
      width: 100%;

      .image {
        border-radius: 2px;
        display: flex;
        margin-bottom: 2rem;
        justify-content: center;
      }
    }

    .line {
      border-bottom: 4px solid $text-white;
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 100%;
    }
  }
}
