.home-page {
  h2 {
    font-size: 1.75rem;
  }

  &__main-img {
    background-image: url("https://res.cloudinary.com/sdee3-com/image/upload/e_brightness:-10/v1589613317/ucenjeirazvoj/hands-2847508_960_720.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    margin: 0 auto;

    .container {
      color: $white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      text-align: center;

      h1 {
        background-color: $indigo;
        border-radius: 4px;
        font-size: 2.5rem;
        padding: 0.25rem;
      }
    }
  }

  &__questionnaire-promo {
    background-image: url("https://res.cloudinary.com/sdee3-com/image/upload/v1560004610/autentika/img2.jpg");
    height: 30vh;

    .container {
      color: $text-white;
      height: 100%;
      padding-top: 2rem;
      text-align: center;
      width: 100%;

      .button {
        margin-top: 2rem;
      }
    }
  }

  &__about-us {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .categories,
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    margin-top: 2.5rem;
  }

  &__services {
    background: $text-white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;

    h3 {
      border: 1px solid $indigo;
      border-radius: 4px;
      padding: 3rem;

      &:focus,
      &:hover {
        background-color: $indigo;
        color: $white;
      }
    }
  }

  &__promo {
    background-image: url("https://res.cloudinary.com/sdee3-com/image/upload/v1560004610/autentika/img2.jpg");
    height: 30vh;

    .container {
      color: $text-white;
      height: 100%;
      padding-top: 2rem;
      text-align: center;
      width: 100%;

      .button {
        margin-top: 2rem;
      }
    }
  }

  &__clients {
    background-image: url("https://res.cloudinary.com/sdee3-com/image/upload/v1560004656/autentika/img11.jpg");
    height: 30vh;

    .container {
      color: $text-white;
      height: 100%;
      padding-top: 2rem;
      text-align: center;
      width: 100%;
    }
  }
}
