.topics-page {
  margin-top: 2rem;
  margin-bottom: 5rem;

  h1,
  h2 {
    text-align: center;
  }

  &__licni-razvoj,
  &__roditeljstvo,
  &__deca-odrastanje {
    border-bottom: 4px solid $indigo;
    padding-bottom: 5rem;
  }

  &__topics {
    &--topic {
      border: 2px solid $indigo;
      border-radius: 4px;
      color: $text-default;
      display: block;
      font-weight: bold;
      margin-bottom: 3rem;
      padding: 2rem;
      text-decoration: none;
    }

    &--subtopic {
      border: 2px solid $indigo;
      border-radius: 4px;
      color: $text-default;
      cursor: pointer;
      display: block;
      font-weight: bold;
      margin-bottom: 2rem;
      padding: 2rem;
      text-decoration: none;

      &:focus,
      &:hover {
        background-color: $indigo;
        border-color: $text-white;
        color: $text-white;
      }
    }
  }
}
