@media (max-width: 769px) {
  h1 {
    font-size: 1.5rem !important;
  }

  h2 {
    font-size: 1.3rem !important;
  }

  h3 {
    font-size: 1rem !important;
  }

  .container {
    width: unset !important;
  }

  .radio-container {
    font-size: 1rem;
  }

  .navbar {
    display: block;

    .container {
      height: 100%;
    }

    &__mobile-buttons {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;

      label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;

        span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid $border-grey;
        }
      }
    }

    #nav-check {
      &:not(:checked) {
        ~ .navbar__links {
          height: 0px;
        }
      }

      &:checked {
        ~ .navbar__links {
          height: 50vh;
          max-width: 50vw;
          overflow-y: auto;
        }
      }
    }

    &__links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgba($black, 0.8);
      height: 0px;
      transition: height 0.15s ease-in;
      overflow-y: hidden;
      top: 60px;
      right: 0;

      a {
        display: block;

        &:first-of-type {
          padding: 0.5rem 1rem;
        }
      }
    }

    &__brand {
      a {
        min-width: unset;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  .home-page {
    &__questionnaire-promo,
    &__promo {
      height: 40vh;

      .container {
        padding-top: 0.5rem;
      }
    }

    .categories,
    .services {
      grid-template-columns: 1fr;
      grid-column-gap: unset;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }

  .contact {
    &-sections {
      grid-template-columns: 1fr !important;
      grid-column-gap: unset !important;
      grid-row-gap: 1rem;

      form {
        max-width: 90vw;
      }
    }
  }

  .question {
    p {
      font-size: 1rem !important;
    }
  }
}
