.contact {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .container {
    width: 100%;

    h2 {
      text-align: center;
    }

    .contact-sections {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 3rem;

      a {
        color: $cyan;
        font-weight: bold;
        text-decoration: none;
      }

      form {
        display: flex;
        flex-direction: column;

        input,
        textarea {
          border: 1px solid $border-grey;
          border-radius: 2px;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          padding-left: 0.5rem;
        }

        input {
          min-height: 40px;
          width: 100%;
        }

        textarea {
          padding-top: 0.5rem;
        }
      }
    }
  }
}
